.background-image{
    width: 100%;
    height: 100vh;
    object-fit: cover
}

.main-body{
    width: 80%;
    height: 80vh;
    /* background: beige; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-banner{
    height: 100%;
    position: absolute;
}

.left-side{
    width: 638px;
    height: 100%;
    background: #ffe600;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    opacity: 0.4;
}

/* .left-side::before{
    content: url('../../../../assets/images/tmp_1621318755055.jpg');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    /* background: url('../../../../assets/images/tmp_1621318755055.jpg') */
/* 
} */ 

.left-side-background-image{
    position:absolute;
    left:-30%;
    top:-13%;
    width: 100vw;
    height: 100vh;
    object-fit: cover
}

.left-side-image{
    left: 30px;
    width: 560px;
    height: 200px;
    position: absolute;
    bottom: 110px;
}

.left-side-heading{
    position: absolute;
    bottom: 55%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-size: 65px;
}


.right-side{
    height: 100%;
    width: calc(100% - 319px);
    margin-left: auto;
    background: white;
}

.circle-1{
    background-color: rgb(252 230 0 / 40%);
    height: 100%;
    position: relative;
    z-index: 2;
}