
<!-- <div>
    <img class="background-image" src="../../../../assets/images/tmp_1621318755055.jpg">
        <!-- <div> 
            <p routerLink='/auth/signin'>Sign In</p>
            <p routerLink='/auth/signup'>Sign Up</p>
        </div>
        <app-sign-in *ngIf="showAuth==='signIn'"> </app-sign-in>
        <app-signup  *ngIf="showAuth==='signup'"></app-signup> -->
        <!-- <div class="main-body">
            <div class="small-banner"> 
                <div class="left-side">

                    <img class="left-side-background-image" src="../../../../assets/images/tmp_1621318755055.jpg">
                    <div class="circle-1"> 
                            <img class="left-side-image"  src="../../../../assets/images/tmp_1621318756911.jpg">
                            <div class="left-side-heading"> TheCarLubes</div>
                    </div>
                   
                </div>          
            </div>
             
            <div class="right-side"> 
                <div class="circle"> </div>
            </div>
        </div> -->
<!-- </div> -->

<div>
        <img class="background-image" src="../../../../assets/images/tmp_1621318755055.jpg">
            <!-- <div> 
                <p routerLink='/auth/signin'>Sign In</p>
                <p routerLink='/auth/signup'>Sign Up</p>
            </div>
            <app-sign-in *ngIf="showAuth==='signIn'"> </app-sign-in>
            <app-signup  *ngIf="showAuth==='signup'"></app-signup> -->
            <div class="main-body">
                <div class="small-banner"> 
                    <div class="left-side">
                        <img class="left-side-image"  src="../../../../assets/images/tmp_1621318756911.jpg">
                        <div class="left-side-heading"> TheCarLubes</div>
                    </div>          
                </div>
                 
                <div class="right-side"> 
                    
                    <div class="selectTab">  
                        <p style="cursor: pointer;" (click)="route('signin')" >Sign In</p>
                        <p style="cursor: pointer;" (click)="route('signup')" >Sign Up</p> 
                    </div>
                    
                    <app-sign-in style="width: 100%" *ngIf="showAuth==='signIn'"> </app-sign-in>
                    <app-signup style="width: 100%" *ngIf="showAuth==='signup'"></app-signup>
                    </div>
                    
            </div>
    </div>
        
    <h2 style="text-align: center; color: #ffe600;"> Create New Account</h2>
