.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


  .signin{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px
  }

  .sign-in-container{
      display: flex;
      justify-content: center;
      text-align: center
  }

 .sign-in-button{
     padding: 0 40px;
     background: #fce600
 }